#image {
  contain: layout;
  view-transition-name: photo-image;
}

::view-transition-new(photo-image) {
  animation-name: slide-down;
}

::view-transition-old(photo-image) {
  animation-name: slide-up;
}

@keyframes slide-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}
